<%= form_for Submission.new do |f| -%>
  <div class='field'>
    <%= f.label :first_name -%>
    <%= f.text_field :first_name  -%>
  </div>
  
  <div class='field'>
    <%= f.label :last_name -%>
    <%= f.text_field :last_name  -%>
  </div>
  
  <div class='field'>
    <%= f.label :email -%>
    <%= f.text_field :email  -%>
  </div>
  
  <div class='field'>
    <%= f.label :phone -%>
    <%= f.text_field :phone  -%>
  </div>
  
  <div class='field'>
    <%= f.label :your_interest -%>
    <%= f.text_field :your_interest  -%>
  </div>
  
  <div class='field'>
    <%= f.label :how_did_you_find_us -%>
    <%= f.text_field :how_did_you_find_us  -%>
  </div>
  
  <div class='field'>
    <%= f.label :newsletter -%>
    <%= f.check_box :newsletter  -%>
  </div>
  
  <div class='field'>
    <%= f.label :method_of_contact -%>
    <%= f.text_field :method_of_contact  -%>
  </div>
  
  <div class='field'>
    <%= f.label :message -%>
    <%= f.text_area :message  -%>
  </div>
  
  <div class='actions'>
    <%= f.submit t('.send') %>
  </div>
  
<% end -%>

